canvas{
  position: relative;
  height: 300px;
  width: 600px;
  border: 1px solid green;
  display: block;
  margin: 10.5em 20em;
  background-color: #e6fdff;
}

body {
  background-size: 100vw 100vh;
  right: 5vw;
}

#background {
  width: 80em;
  height: 44em;
  position: absolute;
  left: -1em;
  top: 0;
  z-index: -1;
}

#paddle, #ball {
  display: none;
}

#brick, #yellow-brick, #blue-brick,
#blue-brick, #green-brick, #orange-brick {
  height: 30px;
  width: 50px;
  padding-bottom: 20px;}

ul {
  position: absolute;
  top: 12em;
  left: 3em;
  justify-content: space-around;
}

li {
  list-style: none;
}

i {
  position: relative;
  top: -20px;
  left: 10px;
}
