canvas{
  position: relative;
  height: 300px;
  width: 600px;
  border: 1px solid green;
  display: block;
  margin: 10.5em 20em;
  background-image: linear-gradient(0deg, white, blue);
}

body {
  /*background-image: url('../images/arcade-background.jpeg');*/
  background-size: 100vw 100vh;
  right: 5vw;
}

img {
  width: 80em;
  height: 44em;
  position: absolute;
  left: -1em;
  top: 0;
  z-index: -1;
}
